* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
  font-family: "Raleway", sans-serif;
}
.header__logo {
  font-size: 2rem;
  color: #08a6e4;
  margin-left: 8vw;
}

.hamburger {
  display: block;
  padding: 10px;
  background: transparent;
  border: none;
  margin-right: 6vw;
  cursor: pointer;
}

.hamburger__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.hamburger__box .bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #08a6e4;
}

.navigation {
  position: absolute;
  top: 70px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  transform: translateX(-768px);
  transition: transform 500ms;
}

.navigation--active {
  transform: translateX(0px);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.menu__item {
  margin: 15px auto;
}
.menu__link {
  text-decoration: none;
  color: #08a6e4;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navigation {
    position: static;
    box-shadow: none;
    transform: translateX(0px);
    transition: transform 0ms;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;
  }
  .menu__item {
    margin: 0;
  }
  .menu__link {
    text-decoration: none;
    color: #a5a5a5;
    font-size: 15px;
    padding: 24px 40px;
    border-bottom: 3px solid transparent;
  }
  .menu__link:hover {
    color: black;
    border-bottom: 3px solid #08a6e4;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 0;
  padding: 0 50px;
}
.hero__title {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.hero__info {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 50px;
}
.hero__btn {
  display: inline-block;
  width: 290px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  background-color: #08a6e4;
}
.hero__img {
  background-image: url("../../assets/Background.png");
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 40vh;
}

.stats {
  font-family: "Raleway", sans-serif;
}
.stats__title {
  font-weight: normal;
  text-align: center;
  padding: 0 30px;
}

.stats__single--person,
.stats__single--eye,
.stats__single--catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}
.stats__single--person .circle,
.stats__single--eye .circle,
.stats__single--catalog .circle {
  position: relative;
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
.stats__single--person .stats__num,
.stats__single--eye .stats__num,
.stats__single--catalog .stats__num {
  margin-top: 15px;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: bold;
}
.stats__single--person .stats__description,
.stats__single--eye .stats__description,
.stats__single--catalog .stats__description {
  margin-top: 20px;
  color: #a5a5a5;
}

.stats__single--person .circle {
  background: #fb3b64;
}
.stats__single--person .circle .icon {
  position: absolute;
  top: 5px;
  left: 30px;
}

.stats__single--eye .circle {
  background: #08a6e4;
}
.stats__single--eye .circle .icon {
  position: absolute;
  top: 12px;
  left: 22px;
}

.stats__single--catalog .circle {
  background: #55dfb4;
}
.stats__single--catalog .circle .icon {
  position: absolute;
  top: 7px;
  left: 30px;
}

.benefits {
  background-color: #f7f7f7;
  padding-bottom: 30px;
}
.benefits__container {
  margin: 30px 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefits__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 45px;
  text-align: center;
  background: #fff;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  z-index: 9;
}
.benefits__single .benefits__img {
  position: relative;
}
.benefits__single .benefits__img .photo {
  width: 200px;
  margin: 40px auto 30px;
}
.benefits__single .benefits__title {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 50px;
}
.benefits__single .benefits__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.95em;
  padding: 0 40px;
  text-align: justify;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.benefits__single--phone .benefits__title {
  padding: 0 40px;
}

.benefits__double .benefits__title {
  margin-top: 40px;
  padding: 0 40px;
}
.benefits__double .benefits__img {
  background-color: #55dfb4;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}
.benefits__double .benefits__img img {
  transform: translate(15%, 15%);
}

.pricing {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing__title {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2.5em;
  margin-bottom: 20px;
}
.pricing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__box {
  width: 340px;
  margin: 30px auto;
  border: 1px solid #fb3b64;
  border-radius: 18px;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pricing__box .pricing__details {
  width: 50%;
}
.pricing__box .pricing__details .type {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}
.pricing__box .pricing__details .price {
  font-family: "Open Sans", sans-serif;
  color: #fb3b64;
  font-size: 3em;
}
.pricing__box .pricing__items {
  width: 50%;
  list-style: none;
}
.pricing__box .pricing__items .item {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  margin: 20px auto;
  text-align: center;
}
.pricing__box .pricing__items .item::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  background-image: url("../../assets/Checkmark.svg");
  width: 11px;
  height: 11px;
  color: #55dfb4;
}
.pricing__box .pricing__items .item--not {
  color: #a5a5a5;
}
.pricing__box .pricing__items .item--not::before {
  content: "x";
  color: #fb3b64;
  display: inline-block;
  margin-right: 10px;
  background-image: none;
  width: 11px;
  height: 11px;
}
.pricing__box .pricing__btn {
  display: inline-block;
  padding: 18px 56px;
  border-radius: 32px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  background: #fb3b64;
  color: #fff;
}

.pricing__box--professional {
  width: 380px;
  border: 1px solid #08a6e4;
  box-shadow: 5px 10px 27px #07ace629;
}
.pricing__box--professional .pricing__details .price {
  color: #08a6e4;
}
.pricing__box--professional .pricing__details .limited {
  font-family: "Raleway", sans-serif;
}
.pricing__box--professional .pricing__btn {
  background: #08a6e4;
}

.pricing__box--premium {
  border: 1px solid #55dfb4;
}
.pricing__box--premium .pricing__details .price {
  color: #55dfb4;
}
.pricing__box--premium .pricing__details .limited {
  font-family: "Raleway", sans-serif;
}
.pricing__box--premium .pricing__btn {
  background: #55dfb4;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
}
.contact__title {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2.5em;
  margin-bottom: 10px;
}
.contact__instruction {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}
.contact__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}
.contact__details .detail {
  font-family: "Open Sans", sans-serif;
  color: #a5a5a5;
  text-decoration: none;
  margin-bottom: 10px;
}
.contact__details img {
  transform: translateY(40%);
  margin-right: 10px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.contact__form .form__field {
  display: flex;
  flex-direction: column;
}
.contact__form .form__field label {
  font-family: "Open Sans", sans-serif;
  color: #08a6e4;
  font-size: 0.9em;
  letter-spacing: 3.28px;
}
.contact__form .form__field input {
  border: none;
  border-bottom: 2px solid #a5a5a5;
  height: 50px;
  font-size: 2em;
  color: #333;
  margin-bottom: 40px;
}

.contact__consent {
  margin-bottom: 40px;
}
.contact__consent .label__checkbox {
  position: relative;
  cursor: pointer;
  display: flex;
}
.contact__consent .label__checkbox input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}
.contact__consent .label__checkbox input:checked + .checkbox {
  background-image: url("../../assets/Checkmark.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.contact__consent .label__checkbox .checkbox {
  height: 24px;
  flex-basis: 24px;
  flex-shrink: 0;
  border: 2px solid #a5a5a5;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
}
.contact__consent .label__checkbox .consent__text {
  font-family: "Open Sans", sans-serif;
  color: #707070;
  font-size: 0.9em;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  align-self: center;
  padding: 20px 100px;
  border: none;
  border-radius: 30px;
  background: #08a6e4;
  color: #fff;
  cursor: pointer;
}

.footer {
  height: 100px;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -5px 40px #00000029;
}
.footer__info .logo {
  display: block;
  font-family: "Raleway", sans-serif;
  color: #08a6e4;
  font-size: 1.8em;
  text-decoration: none;
  margin-bottom: 3px;
}
.footer__info .copy {
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #a5a5a5;
  font-size: 0.8em;
}
.footer .facebook {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */
