.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
  font-family: $font-raleway;

  &__logo {
    font-size: 2rem;
    color: $color-primary;
    margin-left: 8vw;
  }
}

@include hamburger;

.navigation {
  position: absolute;
  top: 70px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  transform: translateX(-768px);
  transition: transform 500ms;
}

.navigation--active {
  transform: translateX(0px);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;

  &__item {
    margin: 15px auto;
  }

  &__link {
    text-decoration: none;
    color: $color-primary;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navigation {
    position: static;
    box-shadow: none;
    transform: translateX(0px);
    transition: transform 0ms;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;

    &__item {
      margin: 0;
    }

    &__link {
      text-decoration: none;
      color: $color-grey;
      font-size: 15px;
      padding: 24px 40px;
      border-bottom: 3px solid transparent;
    }
    &__link:hover {
      color: black;
      border-bottom: 3px solid $color-primary;
    }
  }
}
